apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - name: mariadb
        image: mariadb:10.6
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "santoor711"
        - name: MYSQL_USER
          value: "ticket_booking_system"
        - name: MYSQL_PASSWORD
          value: "santoor711"
        - name: MYSQL_DATABASE
          value: "ticket_booking"
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: mariadb-data
          mountPath: /var/lib/mysql
        - name: init-sql
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: mariadb-data
        emptyDir: {}
      - name: init-sql
        configMap:
          name: mariadb-initdb
          items:
            - key: init.sql
              path: init.sql
